html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  min-height: 100vh;
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
 max-width: 92%;
}
.sedan-container{
 height: 25rem;
 max-width: 19.5rem;
 background-color: hsl(31, 77%, 52%);
 border-radius: 7px 7px 0 0;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
}
.sedan-container > .btn{
  color: hsl(31, 77%, 52%);
}
.suv-container{
  background-color:hsl(184, 100%, 22%);
  height: 25rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 19.5rem;

}
.suv-container > .btn{
  color:hsl(184, 100%, 22%);
}
.luxury-container{
  background-color: hsl(179, 100%, 13%);
  height: 25rem;
border-radius: 0 0 7px 7px;
display: flex;
justify-content: space-around;
flex-direction: column;
max-width: 19.5rem;

}
.luxury-container > btn{
  color: hsl(179, 100%, 13%);
}
.btn{
  margin: auto;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
  border: none;
  background-color:hsl(0, 0%, 95%);
  border-radius: 11rem;
  padding: .7rem 1.5rem;
}

.container_heading{
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive; 
 position: relative;
 top: 3.5rem;
 left: 2.2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: justify;
}
svg{
  position:relative;
  top: 2rem;
  left: 2.2rem;

}

.container_paragraph{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  text-align: left;
  margin: 5rem 4rem 0 2.5rem;
  line-height: 1.5;
  
}
@media screen and (min-width: 640px){
 .container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 1000px;
max-width: 92%;
 }
 .sedan-container{
  height: 30rem;
  border-radius: 7px 0 0 7px;
 }
 .suv-container{
  height: 30rem;

 }
 .luxury-container{
  height: 30rem;
  border-radius: 0 7px 7px 0;
 }
 .container_paragraph{
  margin-top: 8rem;
  position: relative;
 }
 .container_heading{
  position: relative;
  top: 6rem;
  left: 2.5rem;
 }
 svg{
  position: relative;
  top: 4rem;
 }
}
